<div class="container-fluid dashboard_default">
            <div class="row widget-grid">
   <div class="col-12"> 
                <div class="page-title mt-2">
                  <div class="row">
                    <div class="col-sm-6 ps-0">
                      <h3>About Us</h3>
                    </div>
                  </div>
                </div>
              </div>	
	    <div class="row">
		  <div class="col-sm-6 col-xl-3 box-col-3">
                <div class="card">
                  <div class="blog-box blog-grid text-center"><img class="img-fluid top-radius-blog" src="../assets/images/blog/blog-5.jpg" alt="">
                    <div class="blog-details-main">
                      <ul class="blog-social">
                        <li>20 April 2023</li>
                        <li>by: Admin</li>
                        <li>0 Hits</li>
                      </ul>
                      <hr>
                      <h4 class="blog-bottom-details">A huge part of it is the incomparable beauty you can encounter every day.People just anymore profound.</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 box-col-3">
                <div class="card">
                  <div class="blog-box blog-grid text-center"><img class="img-fluid top-radius-blog" src="../assets/images/blog/blog-6.jpg" alt="">
                    <div class="blog-details-main">
                      <ul class="blog-social">
                        <li>9 April 2023</li>
                        <li>by: Admin</li>
                        <li>0 Hits</li>
                      </ul>
                      <hr>
                      <h4 class="blog-bottom-details">People just don't do it anymore. We have to change that. Sometimes the simplest things are the most profound.</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 box-col-3">
                <div class="card">
                  <div class="blog-box blog-grid text-center"><img class="img-fluid top-radius-blog" src="../assets/images/blog/blog-5.jpg" alt="">
                    <div class="blog-details-main">
                      <ul class="blog-social">
                        <li>15 April 2023</li>
                        <li>by: Admin</li>
                        <li>0 Hits</li>
                      </ul>
                      <hr>
                      <h4 class="blog-bottom-details">A huge part of it is the incomparable beauty you can encounter every day.People just anymore profound.</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 box-col-3">
                <div class="card">
                  <div class="blog-box blog-grid text-center"><img class="img-fluid top-radius-blog" src="../assets/images/blog/blog-6.jpg" alt="">
                    <div class="blog-details-main">
                      <ul class="blog-social">
                        <li>11 April 2023</li>
                        <li>by: Admin</li>
                        <li>0 Hits</li>
                      </ul>
                      <hr>
                      <h4 class="blog-bottom-details">People just don't do it anymore. We have to change that. Sometimes the simplest things are the most profound.</h4>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
               <div class="col-sm-6 col-xl-3 box-col-3">
                <div class="card">
                  <div class="blog-box blog-grid text-center"><img class="img-fluid top-radius-blog" src="../assets/images/blog/blog-5.jpg" alt="">
                    <div class="blog-details-main">
                      <ul class="blog-social">
                        <li>20 April 2023</li>
                        <li>by: Admin</li>
                        <li>0 Hits</li>
                      </ul>
                      <hr>
                      <h4 class="blog-bottom-details">A huge part of it is the incomparable beauty you can encounter every day.People just anymore profound.</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 box-col-3">
                <div class="card">
                  <div class="blog-box blog-grid text-center"><img class="img-fluid top-radius-blog" src="../assets/images/blog/blog-6.jpg" alt="">
                    <div class="blog-details-main">
                      <ul class="blog-social">
                        <li>9 April 2023</li>
                        <li>by: Admin</li>
                        <li>0 Hits</li>
                      </ul>
                      <hr>
                      <h4 class="blog-bottom-details">People just don't do it anymore. We have to change that. Sometimes the simplest things are the most profound.</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 box-col-3">
                <div class="card">
                  <div class="blog-box blog-grid text-center"><img class="img-fluid top-radius-blog" src="../assets/images/blog/blog-5.jpg" alt="">
                    <div class="blog-details-main">
                      <ul class="blog-social">
                        <li>15 April 2023</li>
                        <li>by: Admin</li>
                        <li>0 Hits</li>
                      </ul>
                      <hr>
                      <h4 class="blog-bottom-details">A huge part of it is the incomparable beauty you can encounter every day.People just anymore profound.</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 box-col-3">
                <div class="card">
                  <div class="blog-box blog-grid text-center"><img class="img-fluid top-radius-blog" src="../assets/images/blog/blog-6.jpg" alt="">
                    <div class="blog-details-main">
                      <ul class="blog-social">
                        <li>11 April 2023</li>
                        <li>by: Admin</li>
                        <li>0 Hits</li>
                      </ul>
                      <hr>
                      <h4 class="blog-bottom-details">People just don't do it anymore. We have to change that. Sometimes the simplest things are the most profound.</h4>
                    </div>
                  </div>
                </div>
              </div>
              </div>
   </div>
   </div>
              
              
              